/*************/
/*ABOUT STYLES************/
/*************/

/*HEADER: header*/
header {
    background-color: var(--blue, #3a4fab);
}

/*MAIN*/

#download-link {
    text-decoration: none;
    color: var(--blue, #3a4fab);
}

#download-link:hover {
    color: var(--dark-grey, #404040);
}

.photo-container {
    margin-bottom: 24px;
}

.profile-photo {
    max-width: 100%;
    height: auto;
    box-shadow: 0 5px 10px rgba(0,0,0,0.12)/*, 0 6px 6px rgba(0,0,0,0.23)*/;
}

main section div ul {
    padding-inline-start: 20px;
}

/*GRIDS*/
/*Header*/
.header-grid {
    display: grid;
    grid-template-areas: 
        'nav nav nav nav nav nav nav nav'
        '. . . . . . . r-decor'
        'l-decor heading heading . . . . r-decor'
        'l-decor . . . . . . r-decor';
}
.hg-1 { 
    grid-area: heading;
    justify-self: start; 
}
.hg-2 { 
    grid-area: nav;
    height: 64px;
}
.hg-3 { 
    grid-area: l-decor;
    justify-self: start; 
}
.hg-4 { 
    grid-area: r-decor;
    justify-self: end; 
}

/*Header - left-decor*/
.left-decor {
    width: auto;
    display: grid;
    grid-template-areas: 
        'c1 c2 .'
        'c3 . c4'
        '. c5 .';
}
.ldc1 { grid-area: c1}
.ldc2 { grid-area: c2}
.ldc3 { grid-area: c3}
.ldc4 { grid-area: c4}
.ldc5 { grid-area: c5}

/*Header - right-decor*/
.right-decor {
    width: auto;
    display: grid;
    grid-template-areas:
        '. . . . c1'
        '. c3 c4 . c5'
        'c6 c7 . c8 .'
        'c9 . c10 c2 c11'
        '. . . . c12';
}
div.rdc1 { 
    grid-area: c1;
    background-color: var(--blue, #3a4fab);
}
.rdc2 { grid-area: c2}
.rdc3 { grid-area: c3}
.rdc4 { grid-area: c4}
.rdc5 { grid-area: c5}
.rdc6 { grid-area: c6}
.rdc7 { grid-area: c7}
.rdc8 { grid-area: c8}
.rdc9 { grid-area: c9}
.rdc10 { grid-area: c10}
.rdc11 { grid-area: c11}
.rdc12 { grid-area: c12}

/*Main - Skills*/
section.main-skills { 
    display: flex;
    flex-direction: column;
    align-items: start;
}

#list-skills {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.ms-1 {
    padding-left: 35px;
    margin-block-start: 1.66em;
    margin-block-end: 0px;
}

.ms-2, .ms-3 {
    margin-block-end: 1.66em;
    margin-left: 50px;
    width: 50%;
}

/*Main - Tools*/
section.main-tools { 
    margin-top: 1.75rem;
    display: flex;
    flex-direction: column;
    align-items: start;
}

#list-tools {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.mt-1 {
    padding-left: 35px;
    margin-block-start: 1.66em;
    margin-block-end: 0px;
}

.mt-2, .mt-3, .mt-4, .mt-5 {
    margin-left: 35px;
    margin-block-end: 1.66em;
    width: 20%;
}

/*Main - main-grid*/
.main-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 1fr 0.5fr 0.5fr;
    grid-gap: 24px 20px;
    width: 66%;
    margin: auto;
    padding-top: 24px;
}
.mg-1 { /*photo and button*/
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    padding-top: 24px;
    align-self: start;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.mg-2 { /*about*/
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    padding-left: 24px;
 }
.mg-3 { /*skills*/
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: var(--light-grey, #efefef);
}
.mg-4 { /*tools*/
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    background-color: var(--light-grey, #efefef);
}

