:root {
    --black: #000000;
    --dark-grey: #404040;
    --white: #ffffff;
    --blue: #3a4fab;
    --light-grey: #efefef;
    --yellow: #f1e72f;
    font-size: 18px;
}

/**** HEADER ****/
/* Jumbotoron */
.jumbotron {
    background-image: url("../images/homepage/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg"); /* The image used */
    background-color: var(--light-grey, #efefef); /* Used if the image is unavailable*/
    height: 800px; /* You must set a specified height */
    background-position: bottom;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: 0px;
}
h1.jum-1, h2.jum-2, h3.jum-3 {
text-align: center;
} 
h1.jum-1 {
    color: var(--blue, #3a4fab);
    margin-top: 10rem;
}
h2.jum-2 {
    margin-top: -2px;
    font-size: 2.52rem;
}
h3.jum-3 {
    margin-top: 4rem;
    font-size: 1.852rem;
}
.br-only-xs {
    display: none;
}
/* jumbotron media queries*/
@media (max-width:575.98px) { /*Extra small devices*/
    /* JUMBOTRON*/
        .jumbotron {
            height: 700px; /* You must set a specified height */
            background-position: 90% 95%;
        }
        h1.jum-1 {
            margin-top: 6rem;
            margin-bottom: 1rem;
            font-size: 4rem;
        }
        h2.jum-2 {
            font-size: 2rem;
        }
        h3.jum-3 {
            margin-top: 3rem;
            font-size: 1.852rem;
            font-size: 1.8rem;
            text-shadow: 1px 1px 6px #efefef;
            text-shadow: 2px 2px 4px #534f4f4c; 
        }
}
@media (min-width:576px) and (max-width: 719.98px) { /*first section of Small devices*/
    /* JUMBOTRON*/
        .jumbotron {
            height: 700px; /* You must set a specified height */
            background-position: right;
        }
        h1.jum-1 {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        h3.jum-3 {
            margin-top: 3rem;
        }
        .br-only-xs {
            display: block;
        }
}
@media (min-width:720px) and (max-width: 767.98px) { /*second section of Small devices*/
    /* JUMBOTRON*/
        .jumbotron {
            height: 700px; /* You must set a specified height */
            background-position: right;
        }
        h1.jum-1 {
            margin-top: 3rem;
            margin-bottom: 3rem;
        }
        h3.jum-3 {
            margin-top: 3rem;
        }
        .br-only-xs {
            display: block;
        }
}
@media (min-width:768px) and (max-width: 991.98px) { /*Medium devices*/
    /*JUMBOTRON*/
        .jumbotron { /*change*/
            background-position: 45% 95%;
            background-size: cover; /* Resize the background image to cover the entire container */
        }
        h1.jum-1 {
            margin-top: 8rem;
        }
        h2.jum-2 { 
            margin-top: 1rem;
            /* font-size: 2.52rem; */
        }
        h3.jum-3 {
            text-shadow: 1px 1px 6px #efefef;
            text-shadow: 2px 2px 4px #534f4f4c; 
        }
@media (max-width: 767.98px) {
    br.visual-break {
        display: block;
    }
}