/*HEADER*/

/*JUMBOTRON*/
.jumbotron {
    background-image: url("../images/homepage/georgie-cobbs-bKjHgo_Lbpo-unsplash.jpg"); /* The image used */
    background-color: var(--light-grey, #efefef); /* Used if the image is unavailable*/
    height: 800px; /* You must set a specified height */
    background-position: bottom;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: 0px;
  }

h1.jum-1, h2.jum-2, h3.jum-3 {
text-align: center;
} 

h1.jum-1 {
    color: var(--blue, #3a4fab);
    margin-top: 10rem;
}

h2.jum-2 {
    margin-top: -2px;
    font-size: 2.52rem;
    
}

h3.jum-3 {
    margin-top: 4rem;
    font-size: 1.852rem;
}


/*MAIN*/
h2.title {
    font-size: 2.52rem;
    width: 55%;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 48px;
}


/*CARDS*/
a.mycard {
    text-decoration: none;
    /* position: relative;
    left: -310px; */
}

p.mycard, h3.mycard {
    background-color: var(--blue);
    color: var(--white, #ffffff);
    /* color: var(--white, #ffffff); */
    /* padding-left: 7%;
    width: 50%; */
    /* z-index: -1; */
}


p.mycard {
    color: var(--white, #ffffff);
    /* padding-bottom: 3%; */
}

div.mycard {
    background-color: var(--blue, #3a4fab);
    /* position: relative;
    width: 55%;
    margin: auto;
    margin-bottom: 64px; */
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}
.case-study-div {
    background-color: var(--white, #ffffff);
    /* width: 100%;
    position: relative; */
}

.view-case {
    font: bolder 1.2rem 'Scope One', serif;
    color: var(--blue, #3a4fab);
    text-decoration: none;
}

.a-mycard div.yellowCircle {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--yellow, #f1e72f);
    padding-top: 20%;
    text-align: center;
}



/* .inner-button-div {
    width: 60px;
    height: 60px; /*OJO:changed from 60 to 100
    border-radius: 50%;
    background-color: var(--yellow, #f1e72f);
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* section.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.50);
} */

