/* :root {
    --black: #000000;
    --dark-grey: #404040;
    --white: #ffffff;
    --blue: #3a4fab;
    --light-grey: #efefef;
    --yellow: #f1e72f;   ffec8c
    font-size: 18px;
} */

:root {
    --black: #000000;
    --dark-grey: #404040;
    --white: #ffffff;
    --blue: #4a515f;
    --light-grey: #dbdbdb;
    /*--light-grey: #dedcdc; /*for footer*/
    --yellow: #ffe565;
    font-size: 18px;
}

h2.title#projects { /*Selected projects title*/
    padding-top: 130px;
}

/**** HEADER ****/
/* Jumbotoron */
.jumbotron {
    background-image: url("../images/homepage/hero_image.jpg"); /* The image used */
    background-color: var(--light-grey, #efefef); /* Used if the image is unavailable*/
    height: 400px; /* You must set a specified height */
    background-position: 90% 95%;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    margin-bottom: 0px;
    position: relative;
}
#logo-on-jumbo {
    display: none;
}
h1.jum-1, h2.jum-2, h3.jum-3 {
    display: none;
    color: var(--black, #3a4fab);
} 
#logo-out-jumbo {
    margin: auto;
    max-width: 30%;
}
h1.jum-1a, h2.jum-2a, h3.jum-3a {
    color: var(--black, #3a4fab);
    text-align: center;
}
h1.jum-1a {
    /* margin-top: 1rem; */
    font-size: 2.52rem;
}
h2.jum-2a, h3.jum-3a {
    margin-top: 1rem;
    font-size: 1.361rem;
}
/* jumbotron media queries*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* JUMBOTRON*/
        .jumbotron {
            height: 800px; /* You must set a specified height */
            background-position: center;
        }
        #logo-out-jumbo, #headings-xs {
            display: none;
        }
        h1.jum-1, h2.jum-2, h3.jum-3 {
            display: block;
        }
        #logo-on-jumbo {
            display: block;
            max-width: 30%;
            margin-top: 7rem;
            margin-left: -6px;
        }
        h1.jum-1 {
            margin-top: 1rem;
            font-size: 2.52rem;
            margin-left: -6px;
        }
        h2.jum-2, h3.jum-3 {
            margin-top: 1rem;
            font-size: 1.361rem;
            margin-left: -6px;
        }
        br.visual-break {
            display: block;
        }
}
@media (min-width:768px) and (max-width: 991.98px) { 
    .jumbotron {
        height: 800px; /* You must set a specified height */
        background-position: center;
    }
    #logo-out-jumbo, #headings-xs {
        display: none;
    }
    h1.jum-1, h2.jum-2, h3.jum-3 {
        display: block;
    }
    #logo-on-jumbo {
        display: block;
        max-width: 30%;
        margin-top: 2rem;
        margin-left: 20px;
    }
    h1.jum-1 {
        margin-top: 1rem;
        font-size: 2.52rem;
        margin-left: 20px;
    }
    h2.jum-2, h3.jum-3 {
        margin-top: 1rem;
        font-size: 1.361rem;
        margin-left: 20px;
    }
    br.visual-break {
        display: block;
    }
} 
@media (min-width: 992px) and (max-width: 1199.98px) {
    .jumbotron {
        height: 800px; /* You must set a specified height */
        background-position: center;
    }
    #logo-out-jumbo, #headings-xs {
        display: none;
    }
    h1.jum-1, h2.jum-2, h3.jum-3 {
        display: block;
    }
    #logo-on-jumbo {
        display: block;
        max-width: 20%;
        margin-top: 2rem;
        margin-left: 20px;
    }
    h1.jum-1 {
        margin-top: 1rem;
        font-size: 2.52rem;
        margin-left: 20px;
    }
    h2.jum-2, h3.jum-3 {
        margin-top: 1rem;
        font-size: 1.361rem;
        margin-left: 20px;
    }
    br.visual-break, br.visual-break-2 {
    display: none;
    }
}
@media (min-width: 1200px) {
    .jumbotron {
        height: 800px; /* You must set a specified height */
        background-position: center;
    }
    #logo-out-jumbo, #headings-xs {
        display: none;
    }
    h1.jum-1, h2.jum-2, h3.jum-3 {
        display: block;
    }
    #logo-on-jumbo {
        display: block;
        max-width: 20%;
        margin-top: 4rem;
        margin-left: 120px;
    }
    h1.jum-1 {
        margin-top: 1rem;
        font-size: 2.52rem;
        margin-left: 120px;
    }
    h2.jum-2, h3.jum-3 {
        margin-top: 1rem;
        font-size: 1.361rem;
        margin-left: 120px;
    }
    br.visual-break, br.visual-break-2 {
    display: none;
    }
}