/*
ScopeOne Font scale
4.666em (84.00px)	A Visual Type Scale
3.429em (61.73px)	A Visual Type Scale
2.52em (45.36px)	A Visual Type Scale
1.852em (33.33px)	A Visual Type Scale
1.361em (24.49px)	A Visual Type Scale
1em (18.00px)	A Visual Type Scale
0.735em (13.23px)	A Visual Type Scale
0.54em (9.72px)	A Visual Type Scale
0.397em (7.14px)	A Visual Type Scale
*/

* {
    box-sizing: border-box;
}

:root {
    --black: #000000;
    --dark-grey: #404040;
    --white: #ffffff;
    --blue: #3a4fab;
    --light-grey: #efefef;
    --yellow: #f1e72f;
    font-size: 18px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
}

/*GENERAL FONT ADJUSTMENTS*/
h1 {
    font-family: 'Scope One', serif;
    color: var(--yellow, #f1e72f);
    font-size: 4.666rem;
    margin: 0px;
}

h2 {
    font-family: 'Scope One', serif;
    color: var(--blue,#3a4fab);
    font-size: 1.361rem;
    font-weight: bolder;
}

h3 {
    font-size: 1rem;
}

.text-highlight {
    font-family: 'Scope One', serif;
    font-weight: bold;
    color: var(--blue, #3a4fab);
    font-size: 1.2em;
}


/*NAVBAR AND FOOTER*/

nav {
    background-color: var(--white, #ffffff);
    padding: 5px;
}

.logo {
    width: 60px;
}

.nav-options {
    display: inline;
    position: relative;
}

.nav-logo {
    display: inline;
    position: relative;
    left: 50%;
}

.nav-item { /*nav ul li item, not including logo*/
    width: 100px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link-hover {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

nav ul li div.link-hover:hover {
    background-color: var(--yellow, #f1e72f);
    color: var(--dark-grey, #404040);
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

nav .current .link-hover {
    background-color: var(--yellow, #f1e72f);
    color: var(--dark-grey, #404040);
    /*box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);*/
}

nav ul li.logo {
    position: relative;
    margin: auto;
}

nav ul li.nav-item {
    float: right;
} 

/*NAV AND FOOTER COMMON RULES*/
nav li a, footer li a {
    font-family: 'Scope One', serif;
    font-weight: bolder;
    text-decoration: none;
    color: var(--blue, #3a4fab);
    font-size: 1.2rem;
}

nav ul, footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*FOOTER*/
footer {
    /*background-color: var(--white, #ffffff);*/
    background: linear-gradient(#efefef, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
}

footer section ul.footer-options { /*ul*/
    display: inline-flex;
}

footer section ul li a div.footer-option-box p {
    text-align: center;
    margin-right: 24px;
    margin-left: 24px;
    line-height: 1.25rem;
}

footer section ul li a div.footer-option-box div {
    margin: auto;
}

.icon-circle {
    background-color: var(--yellow, #f1e72f);
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.linkedin {
    display: block;
    margin: auto;
    padding-top: 9px;
    width: 16px;
}

.email {
    display: block;
    margin: auto;
    padding-top: 9px;
    width: 20px;
}

.doc {
    display: block;
    margin: auto;
    padding-top: 6px;
    width: 16px;
}

.copyright {
    font-size: 0.735rem;
    color: var(--blue, #3a4fab);
    text-align: center;
}

div.footer-hover:hover {
    transform: scale(1.5);
    color: var(--dark-grey, #404040);
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

/*footer section ul li a div.footer-option-box p:hover {
    color: var(--dark-grey, #404040);
}*/

/*Footer Grid*/
.footer-grid {
    display: grid;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.fi-1 { /*links*/ 
    grid-row: 1 / 2;
    align-self: end;
    padding-top: 2%;
}

.fi-2 { /*copyright*/ 
    grid-row: 2 / 3;
}


/*DIVIDER*/
.small-circle-blue {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--blue, #3a4fab);
}

.small-circle-yellow {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--yellow, #f1e72f);
}

.divider {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 64px;
    padding-bottom: 64px;
}


