/****MAIN****/
/* Background */
.main {
    background: linear-gradient(var(--white, #ffffff), var(--light-grey, #efefef), var(--white, #ffffff));
    position: relative;
}
/* h2 */
h2.title {
    font-size: 2.52rem;
    padding-top: 64px;
    padding-bottom: 48px;
    z-index: 99;
}
/* Card */
#card1, #card2, #card3 {
    text-decoration: none;
    z-index: 98;
}
p.mycard, h3.mycard {
    color: var(--white, #ffffff);
    padding-left: 7%;
    width: 50%;
    z-index: -1;
}
h3.mycard {
    padding-top: 4%;
}
p.mycard {
    padding-bottom: 3%;
}
section.mycard {
    background-color: var(--blue, #3a4fab);
    position: relative;
    margin-bottom: 64px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}
.mycard-img {
    position: absolute;
    right: 2%;
    top: 10%;
    max-width: 50%;
    height: auto;
    z-index: 1;
}
.mycard-img2 {
    top: 18%;
}
.mycard-img3 {
    top: 13%;
}
.button-container {
    background-color: var(--white, #ffffff);
    width: 100%;
    height: 6rem;
    position: relative;
}
.inner-button-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 7%;
}
.my-button-link {
    position: relative;
    background-color: transparent;
    font: bolder 1.2rem 'Scope One', serif;
    color: var(--blue, #3a4fab);
    padding: 0px;
    border: none;
    cursor: pointer;
    width:100%
}
.link-hover {
    width: 54px;
    height: 54px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 52px;
    margin-left: 52px;
}
/*sectionMyCard Hover --> more hover interactions on mycard.js*/
section.mycard:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.50);
}
/* decoration */
.right-decor {
    width: 17%;
    display: grid;
    grid-template-areas:
        '. . . . c1'
        '. c3 c4 . c5'
        'c6 c7 . c8 .'
        'c9 . c10 c2 c11'
        '. . . . c12';
}
.rdc2 { grid-area: c2}
.rdc3 { grid-area: c3}
.rdc4 { grid-area: c4}
.rdc5 { grid-area: c5}
.rdc6 { grid-area: c6}
.rdc7 { grid-area: c7}
.rdc8 { grid-area: c8}
.rdc9 { grid-area: c9}
.rdc10 { grid-area: c10}
.rdc11 { grid-area: c11}
.rdc12 { grid-area: c12}
.decoration1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
}
.decoration2 {
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 1;
    transform: rotate(180deg);
}
.decoration3 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 1; 
    transform: rotate(45deg);  
}

/**** MEDIA QUERIES for CARDS ****/
@media (max-width:575.98px) { /*Extra small devices*/
/* CARD */
    p.mycard, h3.mycard {
        width: 100%;
    }
    h3.mycard {
        padding-top: 70%;
        padding-right: 7%;
    } 
    p.mycard {
        margin-bottom: 2rem;
        padding-right: 7%;
    }
    .mycard-img {
        right: 4%;
        top: 6%;
        max-width: 90%;
    }
    /*.mycard-img2 {
        top: 45%;
    }*/
    .mycard-img3 {
        max-width: 95%;
        /*top: 40%;
        right: 2%; */
    }
    /*.button-container {
        height: 9rem;
    } */
    /*View case study-div*/
    .inner-button-div {
        justify-content: center;
        padding-left: 0px;
    }
}
@media (min-width:576px) and (max-width: 719.98px) { /*first section of Small devices*/
    /* CARD */
    p.mycard, h3.mycard {
        width: 100%;
        padding-right: 7%;
    }
    h3.mycard {
        padding-top: 10%;
    } 
    p.mycard {
        margin-bottom: 9rem;
    }
    .mycard-img {
        right: 13%;
        top: 35%;
        max-width: 70%;
    }
    .mycard-img2 {
        right: 16%;
        top: 40%;
    }
    .mycard-img3 {
        right: 14%;
        top: 38%;
    }
    .button-container {
        height: 8rem;
    }
    /*View case study-div*/
    .inner-button-div {
        justify-content: center;
        padding-left: 0px;
        padding-top: 1.5rem;
    }
}
@media (min-width:720px) and (max-width: 767.98px) { /*second section of Small devices*/
/* CARD */
    p.mycard, h3.mycard {
        width: 100%;
        padding-right: 7%;
    }
    h3.mycard {
        padding-top: 10%;
    } 
    p.mycard {
        margin-bottom: 12rem;
    }
    .mycard-img {
        right: 9%;
        top: 35%;
        max-width: 80%;
    }
    .mycard-img2 {
        right: 10%;
        top: 38%;
    }
    .mycard-img3 {
        right: 10%;
        top: 33%;
    }
    .button-container {
        height: 8rem;
    }
/*View case study-div*/
    .inner-button-div {
        justify-content: center;
        padding-left: 0px;
        padding-top: 1.5rem;
    }
}
@media (min-width:768px) and (max-width: 991.98px) { /*Medium devices*/
/* CARD */
    h3.mycard {
        padding-top: 8%;
        width: 100%; /*changed*/
        padding-right: 7%;
    }
    p.mycard {
        padding-bottom: 3%;
        width: 45%; /*changed*/
    }
    .mycard-img {
        right: 4%; /*changed*/
        top: 35%; /*changed*/
        max-width: 50%; /*changed*/
    }
    .mycard-img2 { /*changed*/
        top: 38%;
    }
    .mycard-img3 { /*changed*/
        top: 28%;
        max-width: 53%;
        right: 2%;
    }
}
@media (min-width: 1200px) and (max-width: 1423.98px) { /*first section of Extra Large devices*/
/* CARD */
    h3.mycard {
        padding-top: 7%;
        padding-right: 7%;
        width: 100%
    } 
    p.mycard {
        padding-bottom: 3%;
        width: 100%;
        padding-right: 7%;
        margin-bottom: 4rem;
    }
    .mycard-img {
        position: absolute;
        right: 2%;
        top: 35%;
        max-width: 50%;
        height: auto;
        z-index: 1;
    }
    .mycard-img2 {
        top: 45%;
        right: 5%;
    }
    .mycard-img3 {
        max-width: 55%;
        right: 1%;
        top: 40%;
    }
}
@media (min-width: 1424px) and (max-width: 1579.98px) {/*second section of Extra Large devices*/
/* CARD */
    h3.mycard {
        padding-top: 7%;
        width: 100%
    } 
    p.mycard {
        padding-bottom: 3%;
        width: 50%;
        padding-right: 7%;
        margin-bottom: 2rem;
    }
    .mycard-img {
        position: absolute;
        right: 2%;
        top: 25%;
        max-width: 50%;
        height: auto;
        z-index: 1;
    }
    .mycard-img2 {
        top: 35%;
        right: 5%;
    }
    .mycard-img3 {
        right: 1%;
        top: 30%;
    }
}
