:root {
    --black: #000000;
    --dark-grey: #404040;
    --white: #ffffff;
    --blue: #3a4fab;
    --light-grey: #efefef;
    --yellow: #f1e72f;
    font-size: 18px;
}

/*HEADER*/
header {
    position: relative;
}

.hero-image {
    background-image: url("../images/pukka_trip/bg.jpg"); /* The image used */
    background-color: rgba(15, 184, 180, 60%); /* Used if the image is unavailable*/
    height: 800px; /* You must set a specified height */
    background-position: right;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

nav.hg-4 {
    height: 64px;
  }

header > h1.hg-1 {
    margin-left: 15%;
    margin-top: 10%;
    color: var(--blue, #3a4fab);
}

header > h2.hg-2 {
    margin-left: 15%;
    font-size: 1.852rem;
    margin-top: 0.6rem;
    line-height: 2rem;
}

header h3.hg-3 {
    margin-left: 15%;
    font-size: 1.361rem;
    line-height: 1.5rem;
}

/*MAIN*/
main > section {
    width: 56%;
    margin: auto;
}

main > section > div > h2 {
    font-size: 1.852rem;
}

h3 {
    font-size: 1.2rem;
    color: var(--black, #000000);
    margin-bottom: -5px;
    margin-top: 3rem;
}

/*MAIN - SECT-TITLE*/
a.in-text-link {
    color: var(--blue, #3a4fab);
}

.sec-title {
    display: flex; 
    align-items: center;
    margin-left: -16.5%;
    margin-top: 4rem;
}

img.met-img {
    width: 135px;
    height: 125px;
    margin-right: 24px;
}

img.met-img-206 {
    width: 135px;
    height: 103px;
    margin-right: 24px;
}

section > div.sec-title > h2 {
    width: 100%;
}

/*MAIN - SECTION STYLES*/
.grey-box {
    background-color: var(--light-grey, #efefef);
    margin-left: -20%;
    margin-right: -20%;
    padding: 36px;
}

.number-text {
    display: flex;
    align-items: center;
    margin-bottom: 0px;
}

p.big-number, span.big-number {
    font: bolder 1.852rem 'Scope One', serif; /*font-style font-variant font-weight font-size/line-height font-family*/
    color: var(--blue,#3a4fab);
    padding-right: 1.5rem;
}

span.big-number {
    font: bolder 1.852rem 'Scope One', serif; /*font-style font-variant font-weight font-size/line-height font-family*/
    color: var(--blue,#3a4fab);
    padding-left: 1.5rem; 
    padding-right: 0.8rem;
}

.project-overview {
    margin-top: 6rem;
}

.h2-h3 {
    margin-top: 0.5rem;
}

.h2-h3-po {
    margin-top: 1.5rem;
}

p.legend {
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
}

img.method {
    max-width: 1222px;
}

.research {
    display: flex;
    align-items: center;
}

p.text-highlight {
    width: 40%;
    text-align: center;
    margin-right: 48px;
}

.quatitative {
    width: 60%;
}

.h3-gbox {
    margin-block-start: 0rem;
    color: var(--blue, #3a4fab);
}

p.p-gb, p.p-gb-above {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.trip-planning {
    width: 50%;
    display: grid;
    grid-template-columns: 0.8fr 0.7fr 0.3fr ;
    grid-template-rows: 1fr 0.7fr;
    font-size: 0.8rem;
    height: 250px;
    width: 650px;
}

.tp-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color:  rgba(15, 184, 180, 80%);
}
.tp-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background-color:  rgba(15, 184, 180, 60%);
}
.tp-3 {
    grid-column: 3 / 6;
    grid-row: 1 / 2;
    background-color:  rgba(15, 184, 180, 40%);
}
.tp-4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color:  rgba(15, 184, 180, 20%);
}
.tp-5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color:  rgba(15, 184, 180, 20%);
}
.tp-6 {
    grid-column: 5 / 6;
    grid-row: 2 / 3;
    background-color:  rgba(15, 184, 180, 20%);
}

.tp-1, .tp-2, .tp-3, .tp-4, .tp-5, .tp-6 {
    border: solid 0.5px var(--white, #ffffff);
    padding-left: 4px;
    padding-top: 4px;
}

.pie1 {
    width: 450px;
}

.time-planning {
    width: 50%;
}

p.full-width {
    width: 75%;
    text-align: left;
}

div.emp-map {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-image: url("../images/pukka_trip/empathy-bg.jpg"); 
    background-color: var(--light-grey, #efefef); /* Used if the image is unavailable*/
    /*height: 800px; /* You must set a specified height */
    background-position: center;
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    margin-left: -20%;
    margin-right: -20%;
    padding: 36px;

}

.em-box {
    background-color: rgba(15, 184, 180, 40%);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 6px;
    border-radius: 16px;
    width: 80%;
    min-height: 245px;
    max-height: max-content;
    font-size: 0.8rem;
}

.emp-map-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.emp-map-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    margin-top: 12px;
}

.emp-map-3 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
}

.emp-map-4 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-top: 12px;
    justify-self: end;
}

.emp-map-h4 {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

img.persona {
    width: 140%;
}

div.two-sides-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.side-60 {
    width: 55%;
}

div.side-40 {
    width: 40%;
}

div.double-grey-box-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-grey-box, .right-grey-box {
    width: 88%;
    display: grid;
    grid-column: 0.5fr 2fr;
    grid-row: 1fr 1fr 1fr;
    background-color: var(--light-grey, #efefef);
    margin-left: -40%;
    margin-right: -40%;
    padding: 36px;
}

div.comp-screens {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.h4-double-gb {
    grid-column: 1 / 3;
    grid-row: 1 / 2;  
}

.st-and-we {
    grid-column: 2 / 3;
    grid-row: 2 / 3;    
}

.comp-img {
    width: 40%;
    height: auto;
    margin-bottom: 10px;
}

#ide-box {
    display: flex;
    flex-direction: row;
}

.brainstorm {
    width: 60%;
}

.ide-img {
    width: 40%;
    margin-right: 24px;
}

.matrix {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
}

p.extra-space {
    margin-bottom: 4rem;
}

div.extra-space-b4 {
    margin-top: 2rem;    
}

h3.extra-space, li.extra-space {
    margin-bottom: 2rem;
}

.edge-to-edge-img {
    display: block;
    margin-left: -40%;
    margin-right: -40%;
    width: 180%;
    height: auto;
}

.img-text {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 15px;
}

.wire-img-two {
    width: 40%;
    height: auto;
}

.wire-img-one {
    width: 20%;
    height: auto;
}

#margin-wire-img-one {
    margin-left: 20%;
}

.text-70 {
    width: 55%;
}

.two-column-box {
    display: flex;
}

.column-1, .column-2 {
    width: 50%;
}

.img-text-hor {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.hi-fi-img-box {
    display: flex;
    justify-content: space-evenly;
}

p.text-centered {
    text-align: center;
}

/*CARDS*/
.card-sec {
    background: linear-gradient(var(--white, #ffffff), var(--light-grey, #efefef), var(--white, #ffffff));
    position: relative;
}

.a-card {
    text-decoration: none;
}

h2.title {
    font-size: 2.52rem;
    width: 55%;
    margin: auto;
    padding-top: 64px;
    padding-bottom: 48px;
}

p.card, h3.card {
    color: var(--white, #ffffff);
    padding-left: 7%;
    width: 50%;
    z-index: -1;
}

h3.card {
    padding-top: 4%;
}

p.card {
    padding-bottom: 3%;
}

section.card {
    background-color: var(--blue, #3a4fab);
    position: relative;
    width: 55%;
    margin: auto;
    margin-bottom: 64px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 6px rgba(0,0,0,0.23);
}

.card-img {
    position: absolute;
    right: 2%;
    top: 10%;
    max-width: 50%;
    height: auto;
    z-index: 1;
}

.button-container {
    background-color: var(--white, #ffffff);
    width: 100%;
    position: relative;
}

a.card {
    text-decoration: none;
    position: relative;
    left: -310px;
}

section.card:hover {
    transform: scale(1.02);
    box-shadow: 0 6px 12px rgba(0,0,0,0.50);
}

/*CARDS - DECORATION*/
.right-decor {
    width: 17%;
    display: grid;
    grid-template-areas:
        '. . . . c1'
        '. c3 c4 . c5'
        'c6 c7 . c8 .'
        'c9 . c10 c2 c11'
        '. . . . c12';
}

.rdc2 { grid-area: c2}
.rdc3 { grid-area: c3}
.rdc4 { grid-area: c4}
.rdc5 { grid-area: c5}
.rdc6 { grid-area: c6}
.rdc7 { grid-area: c7}
.rdc8 { grid-area: c8}
.rdc9 { grid-area: c9}
.rdc10 { grid-area: c10}
.rdc11 { grid-area: c11}
.rdc12 { grid-area: c12}

.decoration1 {
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.decoration2 {
    position: absolute;
    top: 50%;
    right: 0px;
    z-index: 3;
}

.decoration3 {
    position: absolute;
    bottom: 0px;
    right: auto;
    z-index: 3;   
}

/*BACK-TO-TOP BUTTON*/
.material-icons.md-48 {
    font-size: 48px; /* Increase font size */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: transparent; /* Set a background color */
    color: var(--blue, #3a4fab); /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
  }
  
  .material-icons.md-48:hover {
    background-color: var(--yellow, #f1e72f); /* Add a dark-grey background on hover */
    border-radius: 50%; /* Rounded corners */
  }